<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>d882a0efc3d1429ca1da4940a47967c7</string>
	<key>baseUrl</key>
	<string>https://newsapi.org/v2</string>
</dict>
</plist>
