<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>358ca4077d62439d8f8a873619079877</string>
	<key>baseUrl</key>
	<string>https://newsapi.org/v2</string>
</dict>
</plist>
